.bg {
  width: 100%;
  height: 900px;
  background-color: white;
  padding: 25px;
}

.tags {
  background-color: #efefef;
  height: 300px;
  padding: 15px;
}

.picture {
  background-color: lightgray;
  padding: 5px;
  width: 242px;
}

.author {
  font-family: arial;
  font-size: 9pt;
  color: grey;
}

.description {
  font-size: 13pt;
}
