<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- <span class="text-center"> <h2>Ontology Chart</h2></span> -->

      <app-charts
        #chart1
        [containerId]="'chart1'"
        [title]="'Locations'"
        [chartType]="'bar'"
      ></app-charts>
    </div>
    <!-- <div class="col-6"> -->
    <!-- <span class="text-center"> <h2>Ontology Chart</h2></span> -->

    <!-- <app-charts
        #chart2
        [containerId]="'chart2'"
        [title]="'Commodities'"
        [chartType]="'bar'"
      ></app-charts> -->
    <!-- </div> -->
  </div>
</div>
